<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prosess Prosesser prøvemateriale</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prosess Prosesser pr&#248;vemateriale</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/313d1f31-c477-4f1f-8d9b-7d72b9f46069.png" alt="Prosess Prosesser prøvemateriale" usemap="#313d1f31-c477-4f1f-8d9b-7d72b9f46069map"/>
			   <map name="313d1f31-c477-4f1f-8d9b-7d72b9f46069map">
				          <area shape="rect" coords="682,490,867,570" href="../objects/id-30a8c1f022444ca7860958baed539a9f.html" target="element" >
				  		<area shape="rect" coords="1522,402,1642,457" href="../elements/ada108bf-1a9b-4ceb-812c-ee76665f4b93.html"  target="element">
				  		<area shape="rect" coords="346,10,482,65" href="../elements/140ebe96-c9a7-4346-b71e-1b8a00911071.html"  target="element">
				  		<area shape="rect" coords="1150,13,1270,68" href="../elements/2bfca881-236d-4ea4-a19b-c9a165d71e36.html"  target="element">
				  		<area shape="rect" coords="166,10,286,65" href="../elements/869eef54-9e37-4549-b0f1-172f12cdc32c.html"  target="element">
				  		<area shape="rect" coords="1378,402,1498,457" href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html"  target="element">
				  		<area shape="rect" coords="1150,397,1270,452" href="../elements/2a0be265-d0ba-412e-b7a7-23d35f3d4a7c.html"  target="element">
				  		<area shape="rect" coords="406,406,526,461" href="../elements/4572ffe4-c352-4853-bf34-555e6238808d.html"  target="element">
				  		<area shape="rect" coords="274,406,394,461" href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html"  target="element">
				  		<area shape="rect" coords="1690,193,1787,248" href="../elements/d55a0726-8498-4b86-9c19-9a60ce70605c.html"  target="element">
				  		<area shape="rect" coords="10,193,106,248" href="../elements/1b77798e-2440-4e8a-aeff-c9ea67815701.html"  target="element">
				  				<area shape="rect" coords="969,291,1089,346" href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html"  target="element">
				  				<area shape="rect" coords="477,286,597,341" href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html"  target="element">
				  				<area shape="rect" coords="309,210,324,225" href="../elements/f3e4916b-9b50-499e-8d2f-84744f9aff61.html"  target="element">
				  				<area shape="rect" coords="1581,291,1678,346" href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html"  target="element">
				  				<area shape="rect" coords="1401,291,1521,346" href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html"  target="element">
				  				<area shape="rect" coords="1245,291,1365,346" href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html"  target="element">
				  				<area shape="rect" coords="681,286,801,341" href="../elements/948b2466-6c2f-4e9f-ae25-a8758a15a017.html"  target="element">
				  				<area shape="rect" coords="849,190,946,245" href="../elements/18be414c-feb3-4b3a-819b-3a3533d5472a.html"  target="element">
				  				<area shape="rect" coords="297,286,417,341" href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html"  target="element">
				  				<area shape="rect" coords="1425,195,1545,250" href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html"  target="element">
				  				<area shape="rect" coords="1269,195,1389,250" href="../elements/50c885e8-5a06-491b-b3af-0e3a5411cab3.html"  target="element">
				  				<area shape="rect" coords="1126,195,1246,250" href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html"  target="element">
				  				<area shape="rect" coords="981,186,1101,250" href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html"  target="element">
				  				<area shape="rect" coords="681,190,801,245" href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html"  target="element">
				  				<area shape="rect" coords="513,190,633,245" href="../elements/a8964c27-bbfa-4be5-9015-aba9ef0002f5.html"  target="element">
				  				<area shape="rect" coords="347,190,467,245" href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html"  target="element">
				  				<area shape="rect" coords="153,286,273,341" href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html"  target="element">
				  				<area shape="rect" coords="153,181,298,254" href="../elements/40a078eb-e410-4e2e-88ea-dea6843e200a.html"  target="element">

				  		<area shape="rect" coords="117,118,1690,371" href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>AS-IS</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
											    <td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/40a078eb-e410-4e2e-88ea-dea6843e200a.html" target="element"> 1.3.1 Verifiser pr&#248;ve og rekvisisjon </a> </td>
													    <td> <a href="../elements/40a078eb-e410-4e2e-88ea-dea6843e200a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
													    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element"> 1.3.2 Utf&#248;r makro </a> </td>
													    <td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a8964c27-bbfa-4be5-9015-aba9ef0002f5.html" target="element"> Fremf&#248;r vev </a> </td>
													    <td> <a href="../elements/a8964c27-bbfa-4be5-9015-aba9ef0002f5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html" target="element"> St&#248;p vev </a> </td>
													    <td> <a href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element"> Verifiser blokk, glass og prosedyre </a> </td>
													    <td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element"> Snitte blokk </a> </td>
													    <td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/50c885e8-5a06-491b-b3af-0e3a5411cab3.html" target="element"> Farg materiale p&#229; objektglass </a> </td>
													    <td> <a href="../elements/50c885e8-5a06-491b-b3af-0e3a5411cab3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element"> Skann snitt </a> </td>
													    <td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html" target="element"> Makrobilde </a> </td>
													    <td> <a href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18be414c-feb3-4b3a-819b-3a3533d5472a.html" target="element"> Blokk klar for snitting </a> </td>
													    <td> <a href="../elements/18be414c-feb3-4b3a-819b-3a3533d5472a.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/948b2466-6c2f-4e9f-ae25-a8758a15a017.html" target="element"> Blokk </a> </td>
													    <td> <a href="../elements/948b2466-6c2f-4e9f-ae25-a8758a15a017.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element"> Objektglass </a> </td>
													    <td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html" target="element"> Digitalt snitt </a> </td>
													    <td> <a href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
													    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f3e4916b-9b50-499e-8d2f-84744f9aff61.html" target="element"> Velg prosesseringsmetode </a> </td>
													    <td> <a href="../elements/f3e4916b-9b50-499e-8d2f-84744f9aff61.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
													    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element"> Objektglass </a> </td>
													    <td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1b77798e-2440-4e8a-aeff-c9ea67815701.html" target="element"> Kasus allokert </a> </td>
											    <td> <a href="../elements/1b77798e-2440-4e8a-aeff-c9ea67815701.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d55a0726-8498-4b86-9c19-9a60ce70605c.html" target="element"> Kasus klar for tildeling </a> </td>
											    <td> <a href="../elements/d55a0726-8498-4b86-9c19-9a60ce70605c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element"> Bildearkiv </a> </td>
											    <td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4572ffe4-c352-4853-bf34-555e6238808d.html" target="element"> Midlertidig lagring av restmateriale </a> </td>
											    <td> <a href="../elements/4572ffe4-c352-4853-bf34-555e6238808d.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a0be265-d0ba-412e-b7a7-23d35f3d4a7c.html" target="element"> Blokkarkiv </a> </td>
											    <td> <a href="../elements/2a0be265-d0ba-412e-b7a7-23d35f3d4a7c.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element"> Bildearkiv </a> </td>
											    <td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/869eef54-9e37-4549-b0f1-172f12cdc32c.html" target="element"> Bioingeni&#248;r makro </a> </td>
											    <td> <a href="../elements/869eef54-9e37-4549-b0f1-172f12cdc32c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2bfca881-236d-4ea4-a19b-c9a165d71e36.html" target="element"> Bioingeni&#248;r - snitt, farge og scanning barkoder </a> </td>
											    <td> <a href="../elements/2bfca881-236d-4ea4-a19b-c9a165d71e36.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/140ebe96-c9a7-4346-b71e-1b8a00911071.html" target="element"> Makrobeskj&#230;rer </a> </td>
											    <td> <a href="../elements/140ebe96-c9a7-4346-b71e-1b8a00911071.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ada108bf-1a9b-4ceb-812c-ee76665f4b93.html" target="element"> Midlertidig glassarkiv </a> </td>
											    <td> <a href="../elements/ada108bf-1a9b-4ceb-812c-ee76665f4b93.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-30a8c1f022444ca7860958baed539a9f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-30a8c1f022444ca7860958baed539a9f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element">  </a> </td>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element">  </a> </td>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67dd64a9-a423-4b9d-86bd-4ab0b41f751c.html" target="element">  </a> </td>
																		<td> <a href="../elements/67dd64a9-a423-4b9d-86bd-4ab0b41f751c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element"> Skann snitt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b949edca-bf27-4b1e-ae89-670f901b8b85.html" target="element">  </a> </td>
																		<td> <a href="../elements/b949edca-bf27-4b1e-ae89-670f901b8b85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/50c885e8-5a06-491b-b3af-0e3a5411cab3.html" target="element"> Farg materiale p&#229; objektglass </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f7b95f8-2d0a-4719-b803-e31e262be234.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f7b95f8-2d0a-4719-b803-e31e262be234.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element"> Snitte blokk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/79a9c20e-2ef5-4946-8b9b-f4bbd586b5b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/79a9c20e-2ef5-4946-8b9b-f4bbd586b5b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element"> Verifiser blokk, glass og prosedyre </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/63ca9bee-b425-48f2-ba1c-09788f75c54b.html" target="element">  </a> </td>
																		<td> <a href="../elements/63ca9bee-b425-48f2-ba1c-09788f75c54b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html" target="element"> St&#248;p vev </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/20059d15-7184-432b-a0b3-15105a7678e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/20059d15-7184-432b-a0b3-15105a7678e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/a8964c27-bbfa-4be5-9015-aba9ef0002f5.html" target="element"> Fremf&#248;r vev </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/610923b3-0d2f-48d5-b709-0e70fd0c783f.html" target="element">  </a> </td>
																		<td> <a href="../elements/610923b3-0d2f-48d5-b709-0e70fd0c783f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element"> 1.3.2 Utf&#248;r makro </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element">  </a> </td>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd3cf98a-289e-4789-8227-5286d20ab6d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd3cf98a-289e-4789-8227-5286d20ab6d0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/40a078eb-e410-4e2e-88ea-dea6843e200a.html" target="element"> 1.3.1 Verifiser pr&#248;ve og rekvisisjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f24429f6-89bc-4610-ba2c-4e421e6bcb47.html" target="element">  </a> </td>
																		<td> <a href="../elements/f24429f6-89bc-4610-ba2c-4e421e6bcb47.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element"> Objektglass </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f23f9d2b-c9eb-4e58-99e8-61e9a4e4e546.html" target="element">  </a> </td>
																				<td> <a href="../elements/f23f9d2b-c9eb-4e58-99e8-61e9a4e4e546.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/40a078eb-e410-4e2e-88ea-dea6843e200a.html" target="element"> 1.3.1 Verifiser pr&#248;ve og rekvisisjon </a> </td>
																				<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c34dc2cd-f8ec-4422-8021-9f606840b621.html" target="element">  </a> </td>
																				<td> <a href="../elements/c34dc2cd-f8ec-4422-8021-9f606840b621.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element"> 1.3.2 Utf&#248;r makro </a> </td>
																				<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8bd7751e-15e5-4cff-a6e2-d3a04542f5e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/8bd7751e-15e5-4cff-a6e2-d3a04542f5e9.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element"> 1.3.2 Utf&#248;r makro </a> </td>
																				<td> <a href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html" target="element"> Makrobilde </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/54d9e664-4b6e-414a-8559-9c37f757b394.html" target="element">  </a> </td>
																				<td> <a href="../elements/54d9e664-4b6e-414a-8559-9c37f757b394.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element"> 1.3.2 Utf&#248;r makro </a> </td>
																				<td> <a href="../elements/4572ffe4-c352-4853-bf34-555e6238808d.html" target="element"> Midlertidig lagring av restmateriale </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/084c20ac-db47-47ca-b4d2-92d07115ee86.html" target="element">  </a> </td>
																				<td> <a href="../elements/084c20ac-db47-47ca-b4d2-92d07115ee86.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/a8964c27-bbfa-4be5-9015-aba9ef0002f5.html" target="element"> Fremf&#248;r vev </a> </td>
																				<td> <a href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html" target="element"> St&#248;p vev </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/23ff3c89-3e9d-4579-bfae-b967d6ee3375.html" target="element">  </a> </td>
																				<td> <a href="../elements/23ff3c89-3e9d-4579-bfae-b967d6ee3375.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html" target="element"> St&#248;p vev </a> </td>
																				<td> <a href="../elements/948b2466-6c2f-4e9f-ae25-a8758a15a017.html" target="element"> Blokk </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f417a42c-5354-46b9-a80c-4c164623b305.html" target="element">  </a> </td>
																				<td> <a href="../elements/f417a42c-5354-46b9-a80c-4c164623b305.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html" target="element"> St&#248;p vev </a> </td>
																				<td> <a href="../elements/18be414c-feb3-4b3a-819b-3a3533d5472a.html" target="element"> Blokk klar for snitting </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/087755f7-a3b8-44a0-841e-d72e819a3cd7.html" target="element">  </a> </td>
																				<td> <a href="../elements/087755f7-a3b8-44a0-841e-d72e819a3cd7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element"> Verifiser blokk, glass og prosedyre </a> </td>
																				<td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element"> Snitte blokk </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/af9abfe7-2a07-436a-a83c-2ffcb55d4c48.html" target="element">  </a> </td>
																				<td> <a href="../elements/af9abfe7-2a07-436a-a83c-2ffcb55d4c48.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element"> Verifiser blokk, glass og prosedyre </a> </td>
																				<td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element"> Objektglass </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/418b97a1-7afc-48fb-a99d-2bee1eb64090.html" target="element">  </a> </td>
																				<td> <a href="../elements/418b97a1-7afc-48fb-a99d-2bee1eb64090.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element"> Snitte blokk </a> </td>
																				<td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element"> Objektglass </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2cec2f4a-bfd9-4bfc-a68a-b66be6ece306.html" target="element">  </a> </td>
																				<td> <a href="../elements/2cec2f4a-bfd9-4bfc-a68a-b66be6ece306.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element"> Snitte blokk </a> </td>
																				<td> <a href="../elements/50c885e8-5a06-491b-b3af-0e3a5411cab3.html" target="element"> Farg materiale p&#229; objektglass </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/15f8b0e2-2859-4e32-921e-9bbe6f1d8c05.html" target="element">  </a> </td>
																				<td> <a href="../elements/15f8b0e2-2859-4e32-921e-9bbe6f1d8c05.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element"> Snitte blokk </a> </td>
																				<td> <a href="../elements/4497240d-fe35-4128-921d-cafc0afbb65d.html" target="element"> Objektglass </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/08f01c4b-9e88-406d-b84c-b89a016e6f53.html" target="element">  </a> </td>
																				<td> <a href="../elements/08f01c4b-9e88-406d-b84c-b89a016e6f53.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/50c885e8-5a06-491b-b3af-0e3a5411cab3.html" target="element"> Farg materiale p&#229; objektglass </a> </td>
																				<td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element"> Skann snitt </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ba311599-be3c-40ba-ae30-5ff4fbeb0493.html" target="element">  </a> </td>
																				<td> <a href="../elements/ba311599-be3c-40ba-ae30-5ff4fbeb0493.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element"> Skann snitt </a> </td>
																				<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/20bf2a09-ce3f-4252-a738-fe5da2d9b897.html" target="element">  </a> </td>
																				<td> <a href="../elements/20bf2a09-ce3f-4252-a738-fe5da2d9b897.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element"> Skann snitt </a> </td>
																				<td> <a href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html" target="element"> Digitalt snitt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/846866f0-23c4-41c0-8b9d-d1f37b63010d.html" target="element">  </a> </td>
																				<td> <a href="../elements/846866f0-23c4-41c0-8b9d-d1f37b63010d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element"> Skann snitt </a> </td>
																				<td> <a href="../elements/ada108bf-1a9b-4ceb-812c-ee76665f4b93.html" target="element"> Midlertidig glassarkiv </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3876e7c5-d057-4f8b-9e6a-4271b11db4f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/3876e7c5-d057-4f8b-9e6a-4271b11db4f7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/cabe2ee2-92d6-4624-aab5-50eef93ed811.html" target="element"> Skann snitt </a> </td>
																				<td> <a href="../elements/d55a0726-8498-4b86-9c19-9a60ce70605c.html" target="element"> Kasus klar for tildeling </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/934d2f8e-5e0b-4694-8cb9-8ead59b1ff14.html" target="element">  </a> </td>
																				<td> <a href="../elements/934d2f8e-5e0b-4694-8cb9-8ead59b1ff14.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/18be414c-feb3-4b3a-819b-3a3533d5472a.html" target="element"> Blokk klar for snitting </a> </td>
																				<td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element"> Verifiser blokk, glass og prosedyre </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c6840f4b-4497-4b19-b9e4-d4084842a85d.html" target="element">  </a> </td>
																				<td> <a href="../elements/c6840f4b-4497-4b19-b9e4-d4084842a85d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/f3e4916b-9b50-499e-8d2f-84744f9aff61.html" target="element"> Velg prosesseringsmetode </a> </td>
																				<td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element"> 1.3.2 Utf&#248;r makro </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/83a0982d-0a21-4185-870c-91753448446c.html" target="element">  </a> </td>
																		<td> <a href="../elements/83a0982d-0a21-4185-870c-91753448446c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/1b77798e-2440-4e8a-aeff-c9ea67815701.html" target="element"> Kasus allokert </a> </td>
																		<td> <a href="../elements/40a078eb-e410-4e2e-88ea-dea6843e200a.html" target="element"> 1.3.1 Verifiser pr&#248;ve og rekvisisjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/480a444b-1b44-4a2f-926c-b206ce713d1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/480a444b-1b44-4a2f-926c-b206ce713d1b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element"> Bildearkiv </a> </td>
																		<td> <a href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html" target="element"> Makrobilde </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/06244c82-142a-46f5-8bc7-d40f53e19b10.html" target="element">  </a> </td>
																		<td> <a href="../elements/06244c82-142a-46f5-8bc7-d40f53e19b10.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/2a0be265-d0ba-412e-b7a7-23d35f3d4a7c.html" target="element"> Blokkarkiv </a> </td>
																		<td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element"> Verifiser blokk, glass og prosedyre </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b96be178-ee51-425f-968f-5afab533f52c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b96be178-ee51-425f-968f-5afab533f52c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element"> Bildearkiv </a> </td>
																		<td> <a href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html" target="element"> Digitalt snitt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a1d2eb7f-7aad-434b-a650-9f2adccfafe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/a1d2eb7f-7aad-434b-a650-9f2adccfafe1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/869eef54-9e37-4549-b0f1-172f12cdc32c.html" target="element"> Bioingeni&#248;r makro </a> </td>
																		<td> <a href="../elements/d9dc692c-9c43-4d61-96a7-16846eb9db8f.html" target="element"> St&#248;p vev </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a3628857-6c61-4b84-b726-2e0dc4cb9a15.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3628857-6c61-4b84-b726-2e0dc4cb9a15.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/869eef54-9e37-4549-b0f1-172f12cdc32c.html" target="element"> Bioingeni&#248;r makro </a> </td>
																		<td> <a href="../elements/a8964c27-bbfa-4be5-9015-aba9ef0002f5.html" target="element"> Fremf&#248;r vev </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a0e667bd-01f4-463b-a894-385d0574657a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0e667bd-01f4-463b-a894-385d0574657a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/869eef54-9e37-4549-b0f1-172f12cdc32c.html" target="element"> Bioingeni&#248;r makro </a> </td>
																		<td> <a href="../elements/40a078eb-e410-4e2e-88ea-dea6843e200a.html" target="element"> 1.3.1 Verifiser pr&#248;ve og rekvisisjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4a79a29e-2ac8-4d00-bd08-1b4c5ba8482e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a79a29e-2ac8-4d00-bd08-1b4c5ba8482e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2bfca881-236d-4ea4-a19b-c9a165d71e36.html" target="element"> Bioingeni&#248;r - snitt, farge og scanning barkoder </a> </td>
																		<td> <a href="../elements/50c885e8-5a06-491b-b3af-0e3a5411cab3.html" target="element"> Farg materiale p&#229; objektglass </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf83fb36-919d-4bfb-80f6-5c8939fddc1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf83fb36-919d-4bfb-80f6-5c8939fddc1a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2bfca881-236d-4ea4-a19b-c9a165d71e36.html" target="element"> Bioingeni&#248;r - snitt, farge og scanning barkoder </a> </td>
																		<td> <a href="../elements/3d2c495d-8f81-4494-9e39-e67923780295.html" target="element"> Snitte blokk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/db75b217-25ae-432f-ba0f-1253679ef9a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/db75b217-25ae-432f-ba0f-1253679ef9a2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2bfca881-236d-4ea4-a19b-c9a165d71e36.html" target="element"> Bioingeni&#248;r - snitt, farge og scanning barkoder </a> </td>
																		<td> <a href="../elements/52650b22-b3e4-4a26-84b7-1c7d4e972216.html" target="element"> Verifiser blokk, glass og prosedyre </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/05fa8a10-941e-493b-8ecb-56727584d102.html" target="element">  </a> </td>
																		<td> <a href="../elements/05fa8a10-941e-493b-8ecb-56727584d102.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/140ebe96-c9a7-4346-b71e-1b8a00911071.html" target="element"> Makrobeskj&#230;rer </a> </td>
																		<td> <a href="../elements/ff28385f-7ff1-40b9-a1ee-ba8ba0914703.html" target="element"> 1.3.2 Utf&#248;r makro </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>