<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hurtiglenker</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Hurtiglenker</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/71158ad7-47d0-45d1-bcec-2d9d80ae3c73.png" alt="Hurtiglenker" usemap="#71158ad7-47d0-45d1-bcec-2d9d80ae3c73map"/>
			   <map name="71158ad7-47d0-45d1-bcec-2d9d80ae3c73map">
				  				<area shape="rect" coords="430,718,591,755" href="../views/e9aad9fb-793b-456b-a523-c23a13836cb3.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="429,778,590,815" href="../views/155183e2-ad22-4a79-bec2-83ad980f8bc5.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="430,538,591,575" href="../views/6ee36fd6-ec12-4277-a450-2db80fbff11f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="429,658,591,696" href="../views/313d1f31-c477-4f1f-8d9b-7d72b9f46069.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="430,598,590,638" href="../views/1d9ea52a-e8a2-4a00-86ff-c670b6437671.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="874,538,1019,575" href="../views/574d62ae-10ec-45bb-93a9-040c724fc0b7.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,529,215,560" href="../views/2b651eba-9516-47d3-b3f3-de070fb63065.html"  target="view">
				  		    <!-- Other diagram objects -->
				  		        <area shape="rect" coords="706,850,1259,875" href="../objects/ea4a5491-c0d2-455b-84b4-f1059c1bc8a7.html" target="element" >
				  		        <area shape="rect" coords="418,490,851,515" href="../objects/0e08b124-5de3-47d8-b7b8-b6cd6933460e.html" target="element" >
				  		        <area shape="rect" coords="22,490,407,515" href="../objects/b9ba6c76-9cb3-44f7-996b-6b7860e68de9.html" target="element" >
				  		        <area shape="rect" coords="862,490,1247,515" href="../objects/5b11634a-b42d-4d51-bfd6-7b40842e2315.html" target="element" >

				          <area shape="rect" coords="10,466,1259,875" href="../objects/fec02060-9f5c-4607-a430-07fc3629c84c.html" target="element" >
				  		        <area shape="rect" coords="706,394,1259,419" href="../objects/4b6467fd-f424-49df-892a-5cea20a077c4.html" target="element" >
				  				<area shape="rect" coords="442,106,623,131" href="../views/d5b21cc8-a548-4dda-a65d-ed3ee9d5c42e.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="442,250,623,287" href="../views/bdcf52a9-0833-4078-9220-75fa430939d0.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="442,220,623,245" href="../views/ecb7f671-9bd4-476e-b926-7fb6aea60afd.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="442,172,623,209" href="../views/ef1b4f91-be17-4a31-9d87-fa0ff0525b24.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="442,142,623,167" href="../views/edb23d8f-bea9-43ac-879c-1f25a927a031.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="190,106,347,131" href="../views/e8937f63-4738-4d59-86ee-72d605ec8483.html"  target="view">
				  		    <!-- Other diagram objects -->
				  		        <area shape="rect" coords="418,34,851,59" href="../objects/69005de7-58d9-4c71-8b0f-104fca3b9f2c.html" target="element" >
				  				<area shape="rect" coords="190,70,347,95" href="../views/ddcdaa2e-8c37-4ab5-b831-3e1d531f25e0.html"  target="view">
				  		    <!-- Other diagram objects -->
				  		        <area shape="rect" coords="22,34,407,59" href="../objects/cb42df19-3067-4650-8c19-b76374274f0f.html" target="element" >
				  		        <area shape="rect" coords="862,34,1247,59" href="../objects/379098b2-803f-452c-ae01-a8e4a241783c.html" target="element" >
				  				<area shape="rect" coords="874,70,1019,107" href="../views/5b6be9fd-5e55-4be7-a952-e92c66cf9f71.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,70,179,95" href="../views/d5ffe6c0-e4f2-4792-a5ec-317b6c338e9c.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="442,70,623,95" href="../views/8f778fd5-ab8e-4806-9fdc-7482c52f92a4.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,10,1259,419" href="../objects/758d72d2-d02e-40e8-9a5c-68b232666a97.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/758d72d2-d02e-40e8-9a5c-68b232666a97.html" target="element"> Aktuelle domene- og inforamsjonsmodeller </a> </td>
									           <td> <a href="../objects/758d72d2-d02e-40e8-9a5c-68b232666a97.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/8f778fd5-ab8e-4806-9fdc-7482c52f92a4.html" target="view"> Digitalt snitt </a> </td>
													    <td> <a href="../views/8f778fd5-ab8e-4806-9fdc-7482c52f92a4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/d5ffe6c0-e4f2-4792-a5ec-317b6c338e9c.html" target="view"> Domenemodell </a> </td>
													    <td> <a href="../views/d5ffe6c0-e4f2-4792-a5ec-317b6c338e9c.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/5b6be9fd-5e55-4be7-a952-e92c66cf9f71.html" target="view"> Domenemodell for roller og aktører </a> </td>
													    <td> <a href="../views/5b6be9fd-5e55-4be7-a952-e92c66cf9f71.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											        <tr>
											           <td> <a href="../objects/379098b2-803f-452c-ae01-a8e4a241783c.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/379098b2-803f-452c-ae01-a8e4a241783c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/cb42df19-3067-4650-8c19-b76374274f0f.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/cb42df19-3067-4650-8c19-b76374274f0f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../views/ddcdaa2e-8c37-4ab5-b831-3e1d531f25e0.html" target="view"> Kasus </a> </td>
													    <td> <a href="../views/ddcdaa2e-8c37-4ab5-b831-3e1d531f25e0.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											        <tr>
											           <td> <a href="../objects/69005de7-58d9-4c71-8b0f-104fca3b9f2c.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/69005de7-58d9-4c71-8b0f-104fca3b9f2c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../views/e8937f63-4738-4d59-86ee-72d605ec8483.html" target="view"> Prøvemateriale </a> </td>
													    <td> <a href="../views/e8937f63-4738-4d59-86ee-72d605ec8483.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/edb23d8f-bea9-43ac-879c-1f25a927a031.html" target="view"> Rekvisisjon </a> </td>
													    <td> <a href="../views/edb23d8f-bea9-43ac-879c-1f25a927a031.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ef1b4f91-be17-4a31-9d87-fa0ff0525b24.html" target="view"> Rekvisisjon med kodeverk og prøvemateriale </a> </td>
													    <td> <a href="../views/ef1b4f91-be17-4a31-9d87-fa0ff0525b24.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ecb7f671-9bd4-476e-b926-7fb6aea60afd.html" target="view"> Svarrapport </a> </td>
													    <td> <a href="../views/ecb7f671-9bd4-476e-b926-7fb6aea60afd.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/bdcf52a9-0833-4078-9220-75fa430939d0.html" target="view"> Svarrapport med kodeverk </a> </td>
													    <td> <a href="../views/bdcf52a9-0833-4078-9220-75fa430939d0.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/d5b21cc8-a548-4dda-a65d-ed3ee9d5c42e.html" target="view"> Kasus med kodeverk </a> </td>
													    <td> <a href="../views/d5b21cc8-a548-4dda-a65d-ed3ee9d5c42e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											        <tr>
											           <td> <a href="../objects/4b6467fd-f424-49df-892a-5cea20a077c4.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/4b6467fd-f424-49df-892a-5cea20a077c4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/fec02060-9f5c-4607-a430-07fc3629c84c.html" target="element"> Aktuelle prosessmodeller (TO BE) </a> </td>
									           <td> <a href="../objects/fec02060-9f5c-4607-a430-07fc3629c84c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/5b11634a-b42d-4d51-bfd6-7b40842e2315.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/5b11634a-b42d-4d51-bfd6-7b40842e2315.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/b9ba6c76-9cb3-44f7-996b-6b7860e68de9.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/b9ba6c76-9cb3-44f7-996b-6b7860e68de9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/0e08b124-5de3-47d8-b7b8-b6cd6933460e.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/0e08b124-5de3-47d8-b7b8-b6cd6933460e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/ea4a5491-c0d2-455b-84b4-f1059c1bc8a7.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/ea4a5491-c0d2-455b-84b4-f1059c1bc8a7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../views/2b651eba-9516-47d3-b3f3-de070fb63065.html" target="view"> Hovedprosess </a> </td>
													    <td> <a href="../views/2b651eba-9516-47d3-b3f3-de070fb63065.html" target="view" class="i18n-viewpoint-business_process_cooperation"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/574d62ae-10ec-45bb-93a9-040c724fc0b7.html" target="view"> Prosess MDT møte </a> </td>
													    <td> <a href="../views/574d62ae-10ec-45bb-93a9-040c724fc0b7.html" target="view" class="i18n-viewpoint-business_process_cooperation"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/1d9ea52a-e8a2-4a00-86ff-c670b6437671.html" target="view"> Prosess Motta prøvemateriale </a> </td>
													    <td> <a href="../views/1d9ea52a-e8a2-4a00-86ff-c670b6437671.html" target="view" class="i18n-viewpoint-business_process_cooperation"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/313d1f31-c477-4f1f-8d9b-7d72b9f46069.html" target="view"> Prosess Prosesser prøvemateriale </a> </td>
													    <td> <a href="../views/313d1f31-c477-4f1f-8d9b-7d72b9f46069.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/6ee36fd6-ec12-4277-a450-2db80fbff11f.html" target="view"> Prosess Rekvirer patologiundersøkelse </a> </td>
													    <td> <a href="../views/6ee36fd6-ec12-4277-a450-2db80fbff11f.html" target="view" class="i18n-viewpoint-business_process_cooperation"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/155183e2-ad22-4a79-bec2-83ad980f8bc5.html" target="view"> Prosess Send svarrapport </a> </td>
													    <td> <a href="../views/155183e2-ad22-4a79-bec2-83ad980f8bc5.html" target="view" class="i18n-viewpoint-business_process_cooperation"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/e9aad9fb-793b-456b-a523-c23a13836cb3.html" target="view"> Prosess Vurder kasus </a> </td>
													    <td> <a href="../views/e9aad9fb-793b-456b-a523-c23a13836cb3.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>