<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Svarrapport med kodeverk</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Svarrapport med kodeverk</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/bdcf52a9-0833-4078-9220-75fa430939d0.png" alt="Svarrapport med kodeverk" usemap="#bdcf52a9-0833-4078-9220-75fa430939d0map"/>
			   <map name="bdcf52a9-0833-4078-9220-75fa430939d0map">
				  		<area shape="rect" coords="1211,447,1331,502" href="../elements/1d190b6a-01c0-4bc2-8546-c76ba68732c2.html"  target="element">
				  		<area shape="rect" coords="982,501,1102,556" href="../elements/6dce8bde-990d-40ab-b38a-6c0a75e1817f.html"  target="element">
				          <area shape="rect" coords="10,10,1187,47" href="../objects/885f439f-2072-4cb9-a5b9-00dbe50a2340.html" target="element" >
				  		<area shape="rect" coords="1067,82,1200,137" href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html"  target="element">
				  		<area shape="rect" coords="1247,211,1367,266" href="../elements/4599d795-360e-4b8d-841b-75568828f5a5.html"  target="element">
				  		        <area shape="rect" coords="203,802,324,827" href="../objects/262b7b36-77ab-4b71-9985-65dd4e02f25f.html" target="element" >
				  		        <area shape="rect" coords="83,802,216,827" href="../objects/b4d6eab4-b16e-4a56-9684-39fed7b5b930.html" target="element" >
				  		        <area shape="rect" coords="11,826,324,947" href="../objects/9c36259a-3cac-4b8a-8df4-e028a6e0e370.html" target="element" >
				  		        <area shape="rect" coords="11,802,324,827" href="../objects/eeaf403a-5f69-4d68-8e2c-c1afbabe186a.html" target="element" >

				          <area shape="rect" coords="11,778,324,947" href="../objects/3010e465-0268-4f53-b81d-c90c7a52915d.html" target="element" >
				  		<area shape="rect" coords="863,419,983,474" href="../elements/b1abaa7a-4d13-4069-b9d2-1d6ac432b00c.html"  target="element">
				  		<area shape="rect" coords="611,211,731,266" href="../elements/2b92ea99-9079-47e9-8a32-426e32d61d46.html"  target="element">
				  		<area shape="rect" coords="1067,307,1187,362" href="../elements/a96f7249-320d-4d42-b128-47cdff8248fa.html"  target="element">
				  		<area shape="rect" coords="1103,584,1223,639" href="../elements/e56cf605-5c90-4797-b800-33aff27c6b39.html"  target="element">
				  		<area shape="rect" coords="730,584,850,639" href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html"  target="element">
				  		<area shape="rect" coords="215,501,335,556" href="../elements/ff327de6-74d1-4502-9678-f21b465439e5.html"  target="element">
				  		<area shape="rect" coords="71,501,191,556" href="../elements/b7f2cd31-7357-41df-aeab-fb33e4702846.html"  target="element">
				  		<area shape="rect" coords="539,624,659,679" href="../elements/baf18e83-577b-4dc2-85fd-e7b6b8f18138.html"  target="element">
				  		<area shape="rect" coords="539,694,659,749" href="../elements/0396b621-3967-46df-82d7-ffa6f269d6ee.html"  target="element">
				  		<area shape="rect" coords="539,555,659,610" href="../elements/751d2361-dc40-4dba-9699-2b4617f503fb.html"  target="element">
				  		<area shape="rect" coords="11,202,131,275" href="../elements/14ea8a06-ecf5-4c28-ae61-b93eeddddc51.html"  target="element">
				  		<area shape="rect" coords="539,482,659,537" href="../elements/cc206830-8d46-4fbc-ae18-c14a53ae6b5a.html"  target="element">
				  		<area shape="rect" coords="695,419,815,474" href="../elements/735112c3-87a5-4484-bd55-a5a7ecf61f11.html"  target="element">
				  		<area shape="rect" coords="11,106,131,161" href="../elements/2d7ad3d9-7b0e-4073-a024-eb0d27038820.html"  target="element">
				  		<area shape="rect" coords="154,310,274,365" href="../elements/87209ddf-b2a3-49a2-ba22-33584bcc8e34.html"  target="element">
				  		<area shape="rect" coords="299,310,419,365" href="../elements/07092839-972c-4de7-b0f2-50c507ce612a.html"  target="element">
				  		<area shape="rect" coords="11,310,131,365" href="../elements/eb1cdcf3-5605-4ceb-9e45-2ab3a3fdeffe.html"  target="element">
				  		<area shape="rect" coords="203,106,323,161" href="../elements/c1bcce60-939c-455b-b297-3c9f2b393d3e.html"  target="element">
				  		<area shape="rect" coords="455,310,575,365" href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html"  target="element">
				  		<area shape="rect" coords="420,82,540,137" href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html"  target="element">
				  		<area shape="rect" coords="695,310,815,365" href="../elements/c83b5529-a629-4449-8edf-b998fd406f5a.html"  target="element">
				  		<area shape="rect" coords="863,310,983,365" href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html"  target="element">
				  		<area shape="rect" coords="1067,211,1187,266" href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html"  target="element">
				  		<area shape="rect" coords="755,82,875,137" href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html"  target="element">
				  		<area shape="rect" coords="863,190,1008,269" href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Viewversjon</td><td class="convertlinks no-margin" style="white-space:pre-wrap">0.9</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
											    <td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
											    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
											    <td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element"> Analyseresultat </a> </td>
											    <td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c83b5529-a629-4449-8edf-b998fd406f5a.html" target="element"> Analyse </a> </td>
											    <td> <a href="../elements/c83b5529-a629-4449-8edf-b998fd406f5a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element"> Rekvisisjon </a> </td>
											    <td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
											    <td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c1bcce60-939c-455b-b297-3c9f2b393d3e.html" target="element"> Rekvisisjon </a> </td>
											    <td> <a href="../elements/c1bcce60-939c-455b-b297-3c9f2b393d3e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb1cdcf3-5605-4ceb-9e45-2ab3a3fdeffe.html" target="element"> Rekvirent </a> </td>
											    <td> <a href="../elements/eb1cdcf3-5605-4ceb-9e45-2ab3a3fdeffe.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07092839-972c-4de7-b0f2-50c507ce612a.html" target="element"> Rekvisisjons-mottaker </a> </td>
											    <td> <a href="../elements/07092839-972c-4de7-b0f2-50c507ce612a.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/87209ddf-b2a3-49a2-ba22-33584bcc8e34.html" target="element"> Kopimottaker </a> </td>
											    <td> <a href="../elements/87209ddf-b2a3-49a2-ba22-33584bcc8e34.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2d7ad3d9-7b0e-4073-a024-eb0d27038820.html" target="element"> Pasient </a> </td>
											    <td> <a href="../elements/2d7ad3d9-7b0e-4073-a024-eb0d27038820.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/735112c3-87a5-4484-bd55-a5a7ecf61f11.html" target="element"> Aktivitet </a> </td>
											    <td> <a href="../elements/735112c3-87a5-4484-bd55-a5a7ecf61f11.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc206830-8d46-4fbc-ae18-c14a53ae6b5a.html" target="element"> Anatomisk lokasjon </a> </td>
											    <td> <a href="../elements/cc206830-8d46-4fbc-ae18-c14a53ae6b5a.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14ea8a06-ecf5-4c28-ae61-b93eeddddc51.html" target="element"> Klinisk problem/diagnose/sp&#248;rsm&#229;l (strukturert) </a> </td>
											    <td> <a href="../elements/14ea8a06-ecf5-4c28-ae61-b93eeddddc51.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/751d2361-dc40-4dba-9699-2b4617f503fb.html" target="element"> Uttaksmetode </a> </td>
											    <td> <a href="../elements/751d2361-dc40-4dba-9699-2b4617f503fb.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0396b621-3967-46df-82d7-ffa6f269d6ee.html" target="element"> Rekvirert analyse/tjeneste </a> </td>
											    <td> <a href="../elements/0396b621-3967-46df-82d7-ffa6f269d6ee.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/baf18e83-577b-4dc2-85fd-e7b6b8f18138.html" target="element"> Tilstand (fiksering) </a> </td>
											    <td> <a href="../elements/baf18e83-577b-4dc2-85fd-e7b6b8f18138.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b7f2cd31-7357-41df-aeab-fb33e4702846.html" target="element"> Adresseregisteret </a> </td>
											    <td> <a href="../elements/b7f2cd31-7357-41df-aeab-fb33e4702846.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ff327de6-74d1-4502-9678-f21b465439e5.html" target="element"> Helsepersonellregisteret </a> </td>
											    <td> <a href="../elements/ff327de6-74d1-4502-9678-f21b465439e5.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element"> Prosedyrekodeverk for Patologi </a> </td>
											    <td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e56cf605-5c90-4797-b800-33aff27c6b39.html" target="element"> NORPAT </a> </td>
											    <td> <a href="../elements/e56cf605-5c90-4797-b800-33aff27c6b39.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a96f7249-320d-4d42-b128-47cdff8248fa.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/a96f7249-320d-4d42-b128-47cdff8248fa.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b92ea99-9079-47e9-8a32-426e32d61d46.html" target="element"> Makrobeskrivelse </a> </td>
											    <td> <a href="../elements/2b92ea99-9079-47e9-8a32-426e32d61d46.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b1abaa7a-4d13-4069-b9d2-1d6ac432b00c.html" target="element"> Kodeverk for analyseresulteter </a> </td>
											    <td> <a href="../elements/b1abaa7a-4d13-4069-b9d2-1d6ac432b00c.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/3010e465-0268-4f53-b81d-c90c7a52915d.html" target="element"> Dokumentstatus </a> </td>
									           <td> <a href="../objects/3010e465-0268-4f53-b81d-c90c7a52915d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/eeaf403a-5f69-4d68-8e2c-c1afbabe186a.html" target="element">  </a> </td>
											           <td> <a href="../objects/eeaf403a-5f69-4d68-8e2c-c1afbabe186a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/9c36259a-3cac-4b8a-8df4-e028a6e0e370.html" target="element">  </a> </td>
											           <td> <a href="../objects/9c36259a-3cac-4b8a-8df4-e028a6e0e370.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/b4d6eab4-b16e-4a56-9684-39fed7b5b930.html" target="element">  </a> </td>
											           <td> <a href="../objects/b4d6eab4-b16e-4a56-9684-39fed7b5b930.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/262b7b36-77ab-4b71-9985-65dd4e02f25f.html" target="element">  </a> </td>
											           <td> <a href="../objects/262b7b36-77ab-4b71-9985-65dd4e02f25f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/4599d795-360e-4b8d-841b-75568828f5a5.html" target="element"> Vurdering </a> </td>
											    <td> <a href="../elements/4599d795-360e-4b8d-841b-75568828f5a5.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element"> Mikroskopibeskrivelse </a> </td>
											    <td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/885f439f-2072-4cb9-a5b9-00dbe50a2340.html" target="element">  </a> </td>
									           <td> <a href="../objects/885f439f-2072-4cb9-a5b9-00dbe50a2340.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/6dce8bde-990d-40ab-b38a-6c0a75e1817f.html" target="element"> SNOMED CT </a> </td>
											    <td> <a href="../elements/6dce8bde-990d-40ab-b38a-6c0a75e1817f.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1d190b6a-01c0-4bc2-8546-c76ba68732c2.html" target="element"> pTNM </a> </td>
											    <td> <a href="../elements/1d190b6a-01c0-4bc2-8546-c76ba68732c2.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/60980f8c-5257-41e2-a2b2-b5e84342103b.html" target="element">  </a> </td>
																		<td> <a href="../elements/60980f8c-5257-41e2-a2b2-b5e84342103b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																		<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ab54cc8a-3843-4787-94d8-2047ea176710.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab54cc8a-3843-4787-94d8-2047ea176710.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																		<td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element"> Analyseresultat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd71f6e3-89c0-495d-b937-c7b81a178d93.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd71f6e3-89c0-495d-b937-c7b81a178d93.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d6d18440-af7c-4668-82dc-ad81cff364dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6d18440-af7c-4668-82dc-ad81cff364dd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																		<td> <a href="../elements/2b92ea99-9079-47e9-8a32-426e32d61d46.html" target="element"> Makrobeskrivelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3b6ce3f7-762b-411b-abd0-6ec202695943.html" target="element">  </a> </td>
																		<td> <a href="../elements/3b6ce3f7-762b-411b-abd0-6ec202695943.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																		<td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element"> Mikroskopibeskrivelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/097b0fc3-003a-4e4f-8e7c-fcf3c1f6b7bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/097b0fc3-003a-4e4f-8e7c-fcf3c1f6b7bf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																		<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d845239a-3c6e-41e7-98d2-861d68d00d0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d845239a-3c6e-41e7-98d2-861d68d00d0c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																		<td> <a href="../elements/c83b5529-a629-4449-8edf-b998fd406f5a.html" target="element"> Analyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2876f06-9828-4683-901d-1c93d2d03e5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2876f06-9828-4683-901d-1c93d2d03e5d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																		<td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element"> Rekvisisjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cb3ec538-b866-41d6-9051-e78c9306ad67.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb3ec538-b866-41d6-9051-e78c9306ad67.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/952f6b02-0748-4784-84ae-928d396a0935.html" target="element">  </a> </td>
																		<td> <a href="../elements/952f6b02-0748-4784-84ae-928d396a0935.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																		<td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element"> Mikroskopibeskrivelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f6c98439-4a32-4a30-bd60-ec20bdf1d807.html" target="element">  </a> </td>
																		<td> <a href="../elements/f6c98439-4a32-4a30-bd60-ec20bdf1d807.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																		<td> <a href="../elements/2b92ea99-9079-47e9-8a32-426e32d61d46.html" target="element"> Makrobeskrivelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cef0e039-e5f3-4fdd-b486-f44d5f836b32.html" target="element">  </a> </td>
																		<td> <a href="../elements/cef0e039-e5f3-4fdd-b486-f44d5f836b32.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																		<td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element"> Mikroskopibeskrivelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ab032405-f09b-4405-be50-0e22e68109e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab032405-f09b-4405-be50-0e22e68109e1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																		<td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element"> Analyseresultat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/604f0a65-97dc-43e4-a51c-9479a6feef08.html" target="element">  </a> </td>
																		<td> <a href="../elements/604f0a65-97dc-43e4-a51c-9479a6feef08.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c83b5529-a629-4449-8edf-b998fd406f5a.html" target="element"> Analyse </a> </td>
																		<td> <a href="../elements/735112c3-87a5-4484-bd55-a5a7ecf61f11.html" target="element"> Aktivitet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6af36c59-09ba-4ecf-8614-1e2a73c34e96.html" target="element">  </a> </td>
																		<td> <a href="../elements/6af36c59-09ba-4ecf-8614-1e2a73c34e96.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c83b5529-a629-4449-8edf-b998fd406f5a.html" target="element"> Analyse </a> </td>
																		<td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element"> Analyseresultat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b7e6979-6829-4832-8389-bcb5bd448428.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b7e6979-6829-4832-8389-bcb5bd448428.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element"> Rekvisisjon </a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eadf4a9b-5a45-4e71-a8e9-70e1ef069881.html" target="element">  </a> </td>
																		<td> <a href="../elements/eadf4a9b-5a45-4e71-a8e9-70e1ef069881.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/c1bcce60-939c-455b-b297-3c9f2b393d3e.html" target="element"> Rekvisisjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1fdf3b1-601e-4a98-9e0a-98f402a62586.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1fdf3b1-601e-4a98-9e0a-98f402a62586.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/2b92ea99-9079-47e9-8a32-426e32d61d46.html" target="element"> Makrobeskrivelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0cc34ce6-6330-4488-a3b3-8deaf28bacb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/0cc34ce6-6330-4488-a3b3-8deaf28bacb0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c1bcce60-939c-455b-b297-3c9f2b393d3e.html" target="element"> Rekvisisjon </a> </td>
																		<td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element"> Rekvisisjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/398ca49a-57a4-4bd0-992f-7c4dddf50ed7.html" target="element">  </a> </td>
																		<td> <a href="../elements/398ca49a-57a4-4bd0-992f-7c4dddf50ed7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/735112c3-87a5-4484-bd55-a5a7ecf61f11.html" target="element"> Aktivitet </a> </td>
																		<td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element"> Prosedyrekodeverk for Patologi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b88a3ac7-a14f-4f19-888f-ce9b26c8c420.html" target="element">  </a> </td>
																		<td> <a href="../elements/b88a3ac7-a14f-4f19-888f-ce9b26c8c420.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/cc206830-8d46-4fbc-ae18-c14a53ae6b5a.html" target="element"> Anatomisk lokasjon </a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66580dd4-b355-4bee-8f7c-3d1402302f7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/66580dd4-b355-4bee-8f7c-3d1402302f7e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/cc206830-8d46-4fbc-ae18-c14a53ae6b5a.html" target="element"> Anatomisk lokasjon </a> </td>
																		<td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element"> Prosedyrekodeverk for Patologi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e3aef73c-0bb0-4945-86e9-67a9c3757123.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3aef73c-0bb0-4945-86e9-67a9c3757123.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/751d2361-dc40-4dba-9699-2b4617f503fb.html" target="element"> Uttaksmetode </a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/783181dd-382e-4a56-937a-9b32a954b842.html" target="element">  </a> </td>
																		<td> <a href="../elements/783181dd-382e-4a56-937a-9b32a954b842.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/751d2361-dc40-4dba-9699-2b4617f503fb.html" target="element"> Uttaksmetode </a> </td>
																		<td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element"> Prosedyrekodeverk for Patologi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7a447956-2943-4124-972d-6c9b6d1a3d19.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a447956-2943-4124-972d-6c9b6d1a3d19.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0396b621-3967-46df-82d7-ffa6f269d6ee.html" target="element"> Rekvirert analyse/tjeneste </a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/012f5be4-e55f-4677-bc87-65a210628c2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/012f5be4-e55f-4677-bc87-65a210628c2a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0396b621-3967-46df-82d7-ffa6f269d6ee.html" target="element"> Rekvirert analyse/tjeneste </a> </td>
																		<td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element"> Prosedyrekodeverk for Patologi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/82a7e4d0-f07a-465d-bd75-df67d28cf667.html" target="element">  </a> </td>
																		<td> <a href="../elements/82a7e4d0-f07a-465d-bd75-df67d28cf667.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/baf18e83-577b-4dc2-85fd-e7b6b8f18138.html" target="element"> Tilstand (fiksering) </a> </td>
																		<td> <a href="../elements/583c3f71-33c7-4ccb-8369-b92f12cb1ea8.html" target="element"> Pr&#248;vemateriale </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4fac3f17-73f4-4f9d-b15a-409157e734be.html" target="element">  </a> </td>
																		<td> <a href="../elements/4fac3f17-73f4-4f9d-b15a-409157e734be.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7f2cd31-7357-41df-aeab-fb33e4702846.html" target="element"> Adresseregisteret </a> </td>
																		<td> <a href="../elements/87209ddf-b2a3-49a2-ba22-33584bcc8e34.html" target="element"> Kopimottaker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4144d5d-5075-4b16-b2bc-af3e3990d89b.html" target="element"> HER-id </a> </td>
																		<td> <a href="../elements/e4144d5d-5075-4b16-b2bc-af3e3990d89b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7f2cd31-7357-41df-aeab-fb33e4702846.html" target="element"> Adresseregisteret </a> </td>
																		<td> <a href="../elements/07092839-972c-4de7-b0f2-50c507ce612a.html" target="element"> Rekvisisjons-mottaker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ebe12d6e-8382-40a2-a935-74297896e7f4.html" target="element"> HER-id </a> </td>
																		<td> <a href="../elements/ebe12d6e-8382-40a2-a935-74297896e7f4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7f2cd31-7357-41df-aeab-fb33e4702846.html" target="element"> Adresseregisteret </a> </td>
																		<td> <a href="../elements/eb1cdcf3-5605-4ceb-9e45-2ab3a3fdeffe.html" target="element"> Rekvirent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/33192718-990d-4c46-841c-54138115a7e6.html" target="element"> HPR nr </a> </td>
																		<td> <a href="../elements/33192718-990d-4c46-841c-54138115a7e6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ff327de6-74d1-4502-9678-f21b465439e5.html" target="element"> Helsepersonellregisteret </a> </td>
																		<td> <a href="../elements/eb1cdcf3-5605-4ceb-9e45-2ab3a3fdeffe.html" target="element"> Rekvirent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5c6aaf0-483c-4ff2-b34e-9a91a4944ca2.html" target="element"> HPR nr </a> </td>
																		<td> <a href="../elements/a5c6aaf0-483c-4ff2-b34e-9a91a4944ca2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ff327de6-74d1-4502-9678-f21b465439e5.html" target="element"> Helsepersonellregisteret </a> </td>
																		<td> <a href="../elements/87209ddf-b2a3-49a2-ba22-33584bcc8e34.html" target="element"> Kopimottaker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/35db99a3-5f42-4d34-b9a6-2ecc4c23df2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/35db99a3-5f42-4d34-b9a6-2ecc4c23df2a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element"> Prosedyrekodeverk for Patologi </a> </td>
																		<td> <a href="../elements/baf18e83-577b-4dc2-85fd-e7b6b8f18138.html" target="element"> Tilstand (fiksering) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c5190361-2122-44dd-a897-4669354c0499.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5190361-2122-44dd-a897-4669354c0499.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e56cf605-5c90-4797-b800-33aff27c6b39.html" target="element"> NORPAT </a> </td>
																		<td> <a href="../elements/50fff9f6-01b1-4116-a0f6-a46976160ab4.html" target="element"> Prosedyrekodeverk for Patologi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ed10a8e6-0a2a-4818-b7d1-db3a545d7186.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed10a8e6-0a2a-4818-b7d1-db3a545d7186.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/e56cf605-5c90-4797-b800-33aff27c6b39.html" target="element"> NORPAT </a> </td>
																		<td> <a href="../elements/a96f7249-320d-4d42-b128-47cdff8248fa.html" target="element"> Diagnose </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2791a06d-9f8d-4138-868d-dca4b231058e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2791a06d-9f8d-4138-868d-dca4b231058e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a96f7249-320d-4d42-b128-47cdff8248fa.html" target="element"> Diagnose </a> </td>
																		<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/22840b60-5eaf-4265-8c2c-74280b9d43b8.html" target="element"> framtidig </a> </td>
																		<td> <a href="../elements/22840b60-5eaf-4265-8c2c-74280b9d43b8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a96f7249-320d-4d42-b128-47cdff8248fa.html" target="element"> Diagnose </a> </td>
																		<td> <a href="../elements/6dce8bde-990d-40ab-b38a-6c0a75e1817f.html" target="element"> SNOMED CT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/05a952f2-fc4b-4e5f-b54c-e8d0a3d334aa.html" target="element"> ved kreft </a> </td>
																		<td> <a href="../elements/05a952f2-fc4b-4e5f-b54c-e8d0a3d334aa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a96f7249-320d-4d42-b128-47cdff8248fa.html" target="element"> Diagnose </a> </td>
																		<td> <a href="../elements/1d190b6a-01c0-4bc2-8546-c76ba68732c2.html" target="element"> pTNM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e8ac6214-ab5d-44f1-bf7b-34899ca6c2f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8ac6214-ab5d-44f1-bf7b-34899ca6c2f5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b1abaa7a-4d13-4069-b9d2-1d6ac432b00c.html" target="element"> Kodeverk for analyseresulteter </a> </td>
																		<td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element"> Analyseresultat </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/44b5db5c-8228-4589-ba7b-04530213ab1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/44b5db5c-8228-4589-ba7b-04530213ab1b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/4599d795-360e-4b8d-841b-75568828f5a5.html" target="element"> Vurdering </a> </td>
																		<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/f605023a-81ff-40ec-9f20-da72ec8825c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/f605023a-81ff-40ec-9f20-da72ec8825c3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6dce8bde-990d-40ab-b38a-6c0a75e1817f.html" target="element"> SNOMED CT </a> </td>
																		<td> <a href="../elements/735112c3-87a5-4484-bd55-a5a7ecf61f11.html" target="element"> Aktivitet </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>