<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prosess Vurder kasus</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prosess Vurder kasus</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e9aad9fb-793b-456b-a523-c23a13836cb3.png" alt="Prosess Vurder kasus" usemap="#e9aad9fb-793b-456b-a523-c23a13836cb3map"/>
			   <map name="e9aad9fb-793b-456b-a523-c23a13836cb3map">
				          <area shape="rect" coords="80,529,258,575" href="../objects/id-e6e8e5e7f0ff4dcdbc2459fba52c8897.html" target="element" >
				  		<area shape="rect" coords="10,394,118,449" href="../elements/36405319-9292-41ad-9641-924e7349a9f6.html"  target="element">
				  				<area shape="rect" coords="677,712,798,767" href="../elements/51e76c2c-c64d-48d5-8d0f-715a4673678d.html"  target="element">
				  				<area shape="rect" coords="821,712,941,767" href="../elements/6cb6d9e5-6145-493b-b56b-cd2a0e07395e.html"  target="element">

				  		<area shape="rect" coords="653,676,954,809" href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html"  target="element">
				  		<area shape="rect" coords="797,475,931,530" href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html"  target="element">
				  		        <area shape="rect" coords="208,880,329,905" href="../objects/c8ccaa4d-ed08-4119-974d-a8127b3cd184.html" target="element" >
				  		        <area shape="rect" coords="88,880,221,905" href="../objects/233a9681-053a-4194-a5a4-39d97b9c22cc.html" target="element" >
				  		        <area shape="rect" coords="16,904,329,1025" href="../objects/63a5aaf0-5f74-4e2e-b16f-d31a50428537.html" target="element" >
				  		        <area shape="rect" coords="16,880,329,905" href="../objects/33abad3b-2fd8-4756-9d45-e3c9160ef3cb.html" target="element" >

				          <area shape="rect" coords="16,856,329,1025" href="../objects/5bee6c15-89ce-42eb-a3cf-9a97a105d81c.html" target="element" >
				          <area shape="rect" coords="16,10,1085,47" href="../objects/3e06e174-e952-4488-b9ac-4f676534148c.html" target="element" >
				  		<area shape="rect" coords="1121,622,1241,677" href="../elements/71e7b6d7-7280-4f68-be0e-b2ae4565d998.html"  target="element">
				  		<area shape="rect" coords="786,559,906,614" href="../elements/1277d85c-f39c-4f66-b197-5fc38373fc70.html"  target="element">
				  		<area shape="rect" coords="965,622,1085,677" href="../elements/7751f525-15da-4316-8213-41c6b34e9f9d.html"  target="element">
				  		<area shape="rect" coords="472,691,592,746" href="../elements/c37e8f3d-be70-42be-891b-3dfca56c72cd.html"  target="element">
				  		<area shape="rect" coords="329,694,449,749" href="../elements/b181320e-2a0d-4f06-8608-1fcb21457f10.html"  target="element">
				  		<area shape="rect" coords="689,838,809,893" href="../elements/8718c7ef-de7b-44e8-807e-625c9cfe0215.html"  target="element">
				  		<area shape="rect" coords="834,838,954,893" href="../elements/ef708c60-a5e5-46e6-a3bb-5d5f63eb11ad.html"  target="element">
				  		<area shape="rect" coords="472,475,569,530" href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html"  target="element">
				  		<area shape="rect" coords="1109,475,1229,530" href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html"  target="element">
				  		<area shape="rect" coords="953,475,1073,530" href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html"  target="element">
				  		<area shape="rect" coords="677,475,749,530" href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html"  target="element">
				  		<area shape="rect" coords="580,475,665,530" href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html"  target="element">
				  		<area shape="rect" coords="353,475,449,530" href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html"  target="element">
				  		<area shape="rect" coords="1301,310,1386,365" href="../elements/a385b336-6827-4bc5-aeda-6a7eea77dc14.html"  target="element">
				  		<area shape="rect" coords="317,559,437,614" href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html"  target="element">
				  		<area shape="rect" coords="629,559,762,614" href="../elements/e6f715ea-3497-4124-a816-d464ea2b08e2.html"  target="element">
				  		<area shape="rect" coords="149,70,269,125" href="../elements/dd3fa419-f77c-4ed1-8da2-ab8599ac7bec.html"  target="element">
				  		<area shape="rect" coords="461,70,581,125" href="../elements/cd94d809-7cc9-4b9a-93cd-fcd8355729d9.html"  target="element">
				  		<area shape="rect" coords="305,70,425,125" href="../elements/4d72da93-0c88-4d05-bfd9-ef95fb0b13e6.html"  target="element">
				  		<area shape="rect" coords="305,166,425,221" href="../elements/6d238e3b-cfe7-47c5-ad03-b389314c435c.html"  target="element">
				  		<area shape="rect" coords="16,310,112,365" href="../elements/3811f748-7871-4350-8bb0-65a12ff32b93.html"  target="element">
				  				<area shape="rect" coords="881,307,1025,362" href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html"  target="element">
				  				<area shape="rect" coords="1097,307,1231,362" href="../elements/d9813ca4-1523-4283-89b2-7ee465f1984f.html"  target="element">
				  				<area shape="rect" coords="641,277,834,362" href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html"  target="element">
				  				<area shape="rect" coords="317,310,437,365" href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html"  target="element">
				  				<area shape="rect" coords="161,310,281,365" href="../elements/71678060-8971-427a-8ef6-f2dc65e430ae.html"  target="element">

				  		<area shape="rect" coords="137,250,1266,431" href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
											    <td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/71678060-8971-427a-8ef6-f2dc65e430ae.html" target="element"> Velg kasus fra arbeidsliste </a> </td>
													    <td> <a href="../elements/71678060-8971-427a-8ef6-f2dc65e430ae.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html" target="element"> Verifiser kasus, snitt og svarmal </a> </td>
													    <td> <a href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
													    <td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d9813ca4-1523-4283-89b2-7ee465f1984f.html" target="element"> Utarbeid og signer svarrapport </a> </td>
													    <td> <a href="../elements/d9813ca4-1523-4283-89b2-7ee465f1984f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html" target="element"> Beslutt patalogidiagnose </a> </td>
													    <td> <a href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3811f748-7871-4350-8bb0-65a12ff32b93.html" target="element"> Kasus klar for vurdering </a> </td>
											    <td> <a href="../elements/3811f748-7871-4350-8bb0-65a12ff32b93.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6d238e3b-cfe7-47c5-ad03-b389314c435c.html" target="element"> Vurderende fagressurs </a> </td>
											    <td> <a href="../elements/6d238e3b-cfe7-47c5-ad03-b389314c435c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d72da93-0c88-4d05-bfd9-ef95fb0b13e6.html" target="element"> Patolog </a> </td>
											    <td> <a href="../elements/4d72da93-0c88-4d05-bfd9-ef95fb0b13e6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cd94d809-7cc9-4b9a-93cd-fcd8355729d9.html" target="element"> LIS </a> </td>
											    <td> <a href="../elements/cd94d809-7cc9-4b9a-93cd-fcd8355729d9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dd3fa419-f77c-4ed1-8da2-ab8599ac7bec.html" target="element"> Screener </a> </td>
											    <td> <a href="../elements/dd3fa419-f77c-4ed1-8da2-ab8599ac7bec.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e6f715ea-3497-4124-a816-d464ea2b08e2.html" target="element"> Tilleggsanalyse </a> </td>
											    <td> <a href="../elements/e6f715ea-3497-4124-a816-d464ea2b08e2.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element"> Bildearkiv </a> </td>
											    <td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a385b336-6827-4bc5-aeda-6a7eea77dc14.html" target="element"> Kasus vurdert </a> </td>
											    <td> <a href="../elements/a385b336-6827-4bc5-aeda-6a7eea77dc14.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
											    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html" target="element"> Digitalt snitt </a> </td>
											    <td> <a href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html" target="element"> Makrobilde </a> </td>
											    <td> <a href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
											    <td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
											    <td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element"> Analyseresultat </a> </td>
											    <td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ef708c60-a5e5-46e6-a3bb-5d5f63eb11ad.html" target="element"> Bildekonferanse </a> </td>
											    <td> <a href="../elements/ef708c60-a5e5-46e6-a3bb-5d5f63eb11ad.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8718c7ef-de7b-44e8-807e-625c9cfe0215.html" target="element"> Signering svarrapport </a> </td>
											    <td> <a href="../elements/8718c7ef-de7b-44e8-807e-625c9cfe0215.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b181320e-2a0d-4f06-8608-1fcb21457f10.html" target="element"> Tilgang til aktuell bilde </a> </td>
											    <td> <a href="../elements/b181320e-2a0d-4f06-8608-1fcb21457f10.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c37e8f3d-be70-42be-891b-3dfca56c72cd.html" target="element"> Tilleggsbestillinger </a> </td>
											    <td> <a href="../elements/c37e8f3d-be70-42be-891b-3dfca56c72cd.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7751f525-15da-4316-8213-41c6b34e9f9d.html" target="element"> Tilgang til vurderte kasus </a> </td>
											    <td> <a href="../elements/7751f525-15da-4316-8213-41c6b34e9f9d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1277d85c-f39c-4f66-b197-5fc38373fc70.html" target="element"> Tilgang til vurderte kasus </a> </td>
											    <td> <a href="../elements/1277d85c-f39c-4f66-b197-5fc38373fc70.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/71e7b6d7-7280-4f68-be0e-b2ae4565d998.html" target="element"> B1 Nasjonal historikk </a> </td>
											    <td> <a href="../elements/71e7b6d7-7280-4f68-be0e-b2ae4565d998.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/3e06e174-e952-4488-b9ac-4f676534148c.html" target="element">  </a> </td>
									           <td> <a href="../objects/3e06e174-e952-4488-b9ac-4f676534148c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/5bee6c15-89ce-42eb-a3cf-9a97a105d81c.html" target="element"> Dokumentstatus </a> </td>
									           <td> <a href="../objects/5bee6c15-89ce-42eb-a3cf-9a97a105d81c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/33abad3b-2fd8-4756-9d45-e3c9160ef3cb.html" target="element">  </a> </td>
											           <td> <a href="../objects/33abad3b-2fd8-4756-9d45-e3c9160ef3cb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/63a5aaf0-5f74-4e2e-b16f-d31a50428537.html" target="element">  </a> </td>
											           <td> <a href="../objects/63a5aaf0-5f74-4e2e-b16f-d31a50428537.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/233a9681-053a-4194-a5a4-39d97b9c22cc.html" target="element">  </a> </td>
											           <td> <a href="../objects/233a9681-053a-4194-a5a4-39d97b9c22cc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/c8ccaa4d-ed08-4119-974d-a8127b3cd184.html" target="element">  </a> </td>
											           <td> <a href="../objects/c8ccaa4d-ed08-4119-974d-a8127b3cd184.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element"> Mikroskopibeskrivelse </a> </td>
											    <td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html" target="element"> Samhandling </a> </td>
											    <td> <a href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6cb6d9e5-6145-493b-b56b-cd2a0e07395e.html" target="element"> Kollegial r&#229;df&#248;ring </a> </td>
													    <td> <a href="../elements/6cb6d9e5-6145-493b-b56b-cd2a0e07395e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/51e76c2c-c64d-48d5-8d0f-715a4673678d.html" target="element"> Utf&#248;r konsultasjon </a> </td>
													    <td> <a href="../elements/51e76c2c-c64d-48d5-8d0f-715a4673678d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/36405319-9292-41ad-9641-924e7349a9f6.html" target="element"> Konsultasjonssvar utarbeidet </a> </td>
											    <td> <a href="../elements/36405319-9292-41ad-9641-924e7349a9f6.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-e6e8e5e7f0ff4dcdbc2459fba52c8897.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e6e8e5e7f0ff4dcdbc2459fba52c8897.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/58a7ceae-2ddf-4f77-beb8-bd87fe0c1c91.html" target="element">  </a> </td>
																		<td> <a href="../elements/58a7ceae-2ddf-4f77-beb8-bd87fe0c1c91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/71678060-8971-427a-8ef6-f2dc65e430ae.html" target="element"> Velg kasus fra arbeidsliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ea505aa-ef67-489b-aab1-5422c0c56396.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ea505aa-ef67-489b-aab1-5422c0c56396.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html" target="element"> Verifiser kasus, snitt og svarmal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4e474638-0223-48e7-8a7e-b654c5e6aec5.html" target="element">  </a> </td>
																		<td> <a href="../elements/4e474638-0223-48e7-8a7e-b654c5e6aec5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/476e7d40-b68e-4267-b476-3eaebfd0fcd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/476e7d40-b68e-4267-b476-3eaebfd0fcd4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/d9813ca4-1523-4283-89b2-7ee465f1984f.html" target="element"> Utarbeid og signer svarrapport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7712aaba-d5bf-4bfb-8f22-a3a46a4e633e.html" target="element">  </a> </td>
																		<td> <a href="../elements/7712aaba-d5bf-4bfb-8f22-a3a46a4e633e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html" target="element"> Beslutt patalogidiagnose </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b151d43c-1f7a-4ba0-9e48-6e3c89861e00.html" target="element">  </a> </td>
																				<td> <a href="../elements/b151d43c-1f7a-4ba0-9e48-6e3c89861e00.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/71678060-8971-427a-8ef6-f2dc65e430ae.html" target="element"> Velg kasus fra arbeidsliste </a> </td>
																				<td> <a href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html" target="element"> Verifiser kasus, snitt og svarmal </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f10b6c56-12b8-41c3-a875-6dc431822df9.html" target="element">  </a> </td>
																				<td> <a href="../elements/f10b6c56-12b8-41c3-a875-6dc431822df9.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html" target="element"> Verifiser kasus, snitt og svarmal </a> </td>
																				<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/749d3a42-62a9-461b-b5bc-1bfeb7345f3b.html" target="element">  </a> </td>
																				<td> <a href="../elements/749d3a42-62a9-461b-b5bc-1bfeb7345f3b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html" target="element"> Verifiser kasus, snitt og svarmal </a> </td>
																				<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5a8037f4-75bb-4c73-8a45-35b8772de08d.html" target="element">  </a> </td>
																				<td> <a href="../elements/5a8037f4-75bb-4c73-8a45-35b8772de08d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																				<td> <a href="../elements/d434c2c0-3c2e-4e99-9151-3989deff4ea4.html" target="element"> Digitalt snitt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4cef57b3-8c1e-4361-8aa2-c0c323df6ca0.html" target="element">  </a> </td>
																				<td> <a href="../elements/4cef57b3-8c1e-4361-8aa2-c0c323df6ca0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																				<td> <a href="../elements/435d8285-268b-4a07-b570-fce5421e1eea.html" target="element"> Makrobilde </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6db1fe2e-b596-4e32-9277-a28c16929eb3.html" target="element">  </a> </td>
																				<td> <a href="../elements/6db1fe2e-b596-4e32-9277-a28c16929eb3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																				<td> <a href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html" target="element"> Beslutt patalogidiagnose </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0cfb09a7-c11b-474c-bf53-8ddc6e76161b.html" target="element">  </a> </td>
																				<td> <a href="../elements/0cfb09a7-c11b-474c-bf53-8ddc6e76161b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																				<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5337dde7-cf72-4c88-8a9e-14470bb2417d.html" target="element">  </a> </td>
																				<td> <a href="../elements/5337dde7-cf72-4c88-8a9e-14470bb2417d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																				<td> <a href="../elements/d84f9edb-d662-4779-8bde-0cde22b9f883.html" target="element"> Analyseresultat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c49f6f25-992f-4d3e-9906-fd0e6f9dd082.html" target="element">  </a> </td>
																				<td> <a href="../elements/c49f6f25-992f-4d3e-9906-fd0e6f9dd082.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																				<td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element"> Mikroskopibeskrivelse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bce267a2-bfa5-48dc-8f26-f1e878ba8a1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/bce267a2-bfa5-48dc-8f26-f1e878ba8a1d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/d9813ca4-1523-4283-89b2-7ee465f1984f.html" target="element"> Utarbeid og signer svarrapport </a> </td>
																				<td> <a href="../elements/a385b336-6827-4bc5-aeda-6a7eea77dc14.html" target="element"> Kasus vurdert </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9f63db27-69e6-4b6c-be48-219a44304360.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f63db27-69e6-4b6c-be48-219a44304360.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/d9813ca4-1523-4283-89b2-7ee465f1984f.html" target="element"> Utarbeid og signer svarrapport </a> </td>
																				<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/81f92077-18e1-4b44-99b0-4adf7675befe.html" target="element">  </a> </td>
																				<td> <a href="../elements/81f92077-18e1-4b44-99b0-4adf7675befe.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html" target="element"> Beslutt patalogidiagnose </a> </td>
																				<td> <a href="../elements/d9813ca4-1523-4283-89b2-7ee465f1984f.html" target="element"> Utarbeid og signer svarrapport </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ebab219-9f11-4feb-9c62-3add7908a764.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ebab219-9f11-4feb-9c62-3add7908a764.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html" target="element"> Beslutt patalogidiagnose </a> </td>
																				<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/46bf9c78-4fb9-46ec-a66b-ec313127850d.html" target="element">  </a> </td>
																				<td> <a href="../elements/46bf9c78-4fb9-46ec-a66b-ec313127850d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ca0ee5af-024f-45c9-9e76-6303d0d89b3c.html" target="element"> Beslutt patalogidiagnose </a> </td>
																				<td> <a href="../elements/f3f4991b-ed47-4468-809b-728bc3f16fd6.html" target="element"> Mikroskopibeskrivelse </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f69d3189-2992-4b2a-9567-0b9d1bca3071.html" target="element">  </a> </td>
																		<td> <a href="../elements/f69d3189-2992-4b2a-9567-0b9d1bca3071.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/3811f748-7871-4350-8bb0-65a12ff32b93.html" target="element"> Kasus klar for vurdering </a> </td>
																		<td> <a href="../elements/71678060-8971-427a-8ef6-f2dc65e430ae.html" target="element"> Velg kasus fra arbeidsliste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8c7563b6-e9d9-4899-a4c8-6cc8a0a69fd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c7563b6-e9d9-4899-a4c8-6cc8a0a69fd3.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/6d238e3b-cfe7-47c5-ad03-b389314c435c.html" target="element"> Vurderende fagressurs </a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bfed6862-9c7d-4fad-b0f9-abb1de62857a.html" target="element">  </a> </td>
																		<td> <a href="../elements/bfed6862-9c7d-4fad-b0f9-abb1de62857a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/4d72da93-0c88-4d05-bfd9-ef95fb0b13e6.html" target="element"> Patolog </a> </td>
																		<td> <a href="../elements/6d238e3b-cfe7-47c5-ad03-b389314c435c.html" target="element"> Vurderende fagressurs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/77d7e894-bece-450f-81b3-f097fa5aa8e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/77d7e894-bece-450f-81b3-f097fa5aa8e3.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/cd94d809-7cc9-4b9a-93cd-fcd8355729d9.html" target="element"> LIS </a> </td>
																		<td> <a href="../elements/6d238e3b-cfe7-47c5-ad03-b389314c435c.html" target="element"> Vurderende fagressurs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0da8de61-bbc0-4580-8a33-c0d3a7fe32f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0da8de61-bbc0-4580-8a33-c0d3a7fe32f7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/dd3fa419-f77c-4ed1-8da2-ab8599ac7bec.html" target="element"> Screener </a> </td>
																		<td> <a href="../elements/6d238e3b-cfe7-47c5-ad03-b389314c435c.html" target="element"> Vurderende fagressurs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c36d95cf-2fc6-4b55-a0d9-6e2729c9d4e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c36d95cf-2fc6-4b55-a0d9-6e2729c9d4e1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/e6f715ea-3497-4124-a816-d464ea2b08e2.html" target="element"> Tilleggsanalyse </a> </td>
																		<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/44441cfd-3e37-4ad5-bf8c-16ddf886b29e.html" target="element">  </a> </td>
																		<td> <a href="../elements/44441cfd-3e37-4ad5-bf8c-16ddf886b29e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element"> Bildearkiv </a> </td>
																		<td> <a href="../elements/f2bbea15-c2f9-4ba2-b532-4b9015d0a347.html" target="element"> Verifiser kasus, snitt og svarmal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5d2b2c8c-fa6e-46c1-b74d-2ccc0e41acdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/5d2b2c8c-fa6e-46c1-b74d-2ccc0e41acdc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ef708c60-a5e5-46e6-a3bb-5d5f63eb11ad.html" target="element"> Bildekonferanse </a> </td>
																		<td> <a href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html" target="element"> Samhandling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8dc6e8e-14b9-4966-a611-00ffca9f047d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8dc6e8e-14b9-4966-a611-00ffca9f047d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8718c7ef-de7b-44e8-807e-625c9cfe0215.html" target="element"> Signering svarrapport </a> </td>
																		<td> <a href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html" target="element"> Samhandling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2eb5cdde-8c4a-4463-9f7d-06e473e02625.html" target="element">  </a> </td>
																		<td> <a href="../elements/2eb5cdde-8c4a-4463-9f7d-06e473e02625.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b181320e-2a0d-4f06-8608-1fcb21457f10.html" target="element"> Tilgang til aktuell bilde </a> </td>
																		<td> <a href="../elements/8eec0431-66d4-4042-a92c-59a46d4d1e7e.html" target="element"> Bildearkiv </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/22ecd621-c9f9-41aa-8c90-9d82c00f63af.html" target="element">  </a> </td>
																		<td> <a href="../elements/22ecd621-c9f9-41aa-8c90-9d82c00f63af.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c37e8f3d-be70-42be-891b-3dfca56c72cd.html" target="element"> Tilleggsbestillinger </a> </td>
																		<td> <a href="../elements/e6f715ea-3497-4124-a816-d464ea2b08e2.html" target="element"> Tilleggsanalyse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c6f7c415-adf7-401d-8864-983d92426221.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6f7c415-adf7-401d-8864-983d92426221.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7751f525-15da-4316-8213-41c6b34e9f9d.html" target="element"> Tilgang til vurderte kasus </a> </td>
																		<td> <a href="../elements/1277d85c-f39c-4f66-b197-5fc38373fc70.html" target="element"> Tilgang til vurderte kasus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cb5fcace-b329-449a-8f80-42193a57dee1.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb5fcace-b329-449a-8f80-42193a57dee1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/1277d85c-f39c-4f66-b197-5fc38373fc70.html" target="element"> Tilgang til vurderte kasus </a> </td>
																		<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/007fea16-2a9f-4a7d-8396-fbfa56ffbb31.html" target="element">  </a> </td>
																		<td> <a href="../elements/007fea16-2a9f-4a7d-8396-fbfa56ffbb31.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/71e7b6d7-7280-4f68-be0e-b2ae4565d998.html" target="element"> B1 Nasjonal historikk </a> </td>
																		<td> <a href="../elements/7751f525-15da-4316-8213-41c6b34e9f9d.html" target="element"> Tilgang til vurderte kasus </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/b77e03f6-e25c-471d-b4c5-8713e17e2330.html" target="element">  </a> </td>
																		<td> <a href="../elements/b77e03f6-e25c-471d-b4c5-8713e17e2330.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html" target="element"> Samhandling </a> </td>
																		<td> <a href="../elements/2d6bdeea-c95f-43cb-90e8-eed8c8d88802.html" target="element"> Vurder mikroskopi, tilleggsanalyser og annen klinisk informasjon </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/e15d82ce-a2db-4e7a-968a-bf8bc3e996a4.html" target="element">  </a> </td>
																				<td> <a href="../elements/e15d82ce-a2db-4e7a-968a-bf8bc3e996a4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/6cb6d9e5-6145-493b-b56b-cd2a0e07395e.html" target="element"> Kollegial r&#229;df&#248;ring </a> </td>
																				<td> <a href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html" target="element"> Samhandling </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1698a1b3-84f2-449c-8a38-3e43dafe5c87.html" target="element">  </a> </td>
																				<td> <a href="../elements/1698a1b3-84f2-449c-8a38-3e43dafe5c87.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/51e76c2c-c64d-48d5-8d0f-715a4673678d.html" target="element"> Utf&#248;r konsultasjon </a> </td>
																				<td> <a href="../elements/780c005f-1494-448d-ac75-9cc566de38dd.html" target="element"> Samhandling </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/46ccce4b-19c2-4a23-a2c1-28f1cfd9a6a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/46ccce4b-19c2-4a23-a2c1-28f1cfd9a6a6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/36405319-9292-41ad-9641-924e7349a9f6.html" target="element"> Konsultasjonssvar utarbeidet </a> </td>
																		<td> <a href="../elements/71678060-8971-427a-8ef6-f2dc65e430ae.html" target="element"> Velg kasus fra arbeidsliste </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>