<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hovedprosess AS IS</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Hovedprosess AS IS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fcb42e1a-e9db-4f29-b1ad-47025ef38323.png" alt="Hovedprosess AS IS" usemap="#fcb42e1a-e9db-4f29-b1ad-47025ef38323map"/>
			   <map name="fcb42e1a-e9db-4f29-b1ad-47025ef38323map">
				  				<area shape="rect" coords="1198,507,1318,562" href="../elements/d58a864b-f489-4a3a-b1d0-4965489577a7.html"  target="element">
				  				<area shape="rect" coords="1198,423,1318,478" href="../elements/70f8597a-18b5-49ae-a5b0-4fb718758a74.html"  target="element">
				  				<area shape="rect" coords="1198,339,1318,394" href="../elements/8a421398-4f2a-446b-96ab-78da51e2e6fb.html"  target="element">

				          <area shape="rect" coords="1162,303,1367,592" href="../objects/f137f1d5-1f4e-41dc-bf55-73c29fd86ad2.html" target="element" >
				  		<area shape="rect" coords="214,255,334,310" href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html"  target="element">
				  		<area shape="rect" coords="994,255,1114,310" href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html"  target="element">
				  		<area shape="rect" coords="922,87,1042,142" href="../elements/c6d1f8a2-55c1-4fa7-aa07-de50fd9d46d6.html"  target="element">
				  		<area shape="rect" coords="1078,87,1198,142" href="../elements/6c1864a6-cd96-4e99-8b81-a856e8b9cb0c.html"  target="element">
				  		<area shape="rect" coords="1234,87,1319,142" href="../elements/4e102bc0-b5a8-440e-8d84-ea09930b133c.html"  target="element">
				  		<area shape="rect" coords="466,255,586,310" href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html"  target="element">
				  		<area shape="rect" coords="611,87,731,142" href="../elements/18679b39-ea32-456f-b099-c2e0766a028c.html"  target="element">
				  		<area shape="rect" coords="766,255,886,310" href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html"  target="element">
				  		<area shape="rect" coords="10,87,118,142" href="../elements/63862c29-c927-4a20-b595-c51112b6effc.html"  target="element">
				  		<area shape="rect" coords="766,87,886,142" href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html"  target="element">
				  		<area shape="rect" coords="466,87,586,142" href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html"  target="element">
				  		<area shape="rect" coords="322,87,442,148" href="../elements/a10fb5b4-2201-4c3b-ba84-ac8c5ba5f401.html"  target="element">
				  		<area shape="rect" coords="154,87,274,142" href="../elements/79ed9156-a7ac-415f-a9fc-6504e1b4218f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>AS-IS</td><td class="convertlinks no-margin" style="white-space:pre-wrap">1</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/79ed9156-a7ac-415f-a9fc-6504e1b4218f.html" target="element"> 1.1 Rekvirer patologi-unders&#248;kelse </a> </td>
											    <td> <a href="../elements/79ed9156-a7ac-415f-a9fc-6504e1b4218f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a10fb5b4-2201-4c3b-ba84-ac8c5ba5f401.html" target="element"> 1.2 Motta pr&#248;vemateriale </a> </td>
											    <td> <a href="../elements/a10fb5b4-2201-4c3b-ba84-ac8c5ba5f401.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
											    <td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
											    <td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/63862c29-c927-4a20-b595-c51112b6effc.html" target="element"> Behov for patologi-unders&#248;kelse </a> </td>
											    <td> <a href="../elements/63862c29-c927-4a20-b595-c51112b6effc.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
											    <td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18679b39-ea32-456f-b099-c2e0766a028c.html" target="element"> 1.4 Tildel kasus </a> </td>
											    <td> <a href="../elements/18679b39-ea32-456f-b099-c2e0766a028c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
											    <td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4e102bc0-b5a8-440e-8d84-ea09930b133c.html" target="element"> Pr&#248;vesvar mottatt </a> </td>
											    <td> <a href="../elements/4e102bc0-b5a8-440e-8d84-ea09930b133c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c1864a6-cd96-4e99-8b81-a856e8b9cb0c.html" target="element"> 1.7 Motta svarrapport </a> </td>
											    <td> <a href="../elements/6c1864a6-cd96-4e99-8b81-a856e8b9cb0c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6d1f8a2-55c1-4fa7-aa07-de50fd9d46d6.html" target="element"> 1.6 Send svarrapport </a> </td>
											    <td> <a href="../elements/c6d1f8a2-55c1-4fa7-aa07-de50fd9d46d6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
											    <td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element"> Rekvisisjon </a> </td>
											    <td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/f137f1d5-1f4e-41dc-bf55-73c29fd86ad2.html" target="element"> St&#248;tteprosesser </a> </td>
									           <td> <a href="../objects/f137f1d5-1f4e-41dc-bf55-73c29fd86ad2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8a421398-4f2a-446b-96ab-78da51e2e6fb.html" target="element"> 1.9 Arkivering </a> </td>
													    <td> <a href="../elements/8a421398-4f2a-446b-96ab-78da51e2e6fb.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/70f8597a-18b5-49ae-a5b0-4fb718758a74.html" target="element"> Fakturering </a> </td>
													    <td> <a href="../elements/70f8597a-18b5-49ae-a5b0-4fb718758a74.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d58a864b-f489-4a3a-b1d0-4965489577a7.html" target="element"> Gjennomf&#248;r MDT-m&#248;te </a> </td>
													    <td> <a href="../elements/d58a864b-f489-4a3a-b1d0-4965489577a7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0c59831d-7217-4db9-a943-9f846c092a29.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c59831d-7217-4db9-a943-9f846c092a29.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/79ed9156-a7ac-415f-a9fc-6504e1b4218f.html" target="element"> 1.1 Rekvirer patologi-unders&#248;kelse </a> </td>
																		<td> <a href="../elements/a10fb5b4-2201-4c3b-ba84-ac8c5ba5f401.html" target="element"> 1.2 Motta pr&#248;vemateriale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/94d143c1-15d0-4305-bea1-2e337afa1a41.html" target="element">  </a> </td>
																		<td> <a href="../elements/94d143c1-15d0-4305-bea1-2e337afa1a41.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/79ed9156-a7ac-415f-a9fc-6504e1b4218f.html" target="element"> 1.1 Rekvirer patologi-unders&#248;kelse </a> </td>
																		<td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element"> Rekvisisjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/89d5abf4-0f69-4cca-b1be-ea5faf593a70.html" target="element">  </a> </td>
																		<td> <a href="../elements/89d5abf4-0f69-4cca-b1be-ea5faf593a70.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/a10fb5b4-2201-4c3b-ba84-ac8c5ba5f401.html" target="element"> 1.2 Motta pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9209b5b7-a57b-4ad9-95f7-0d52e267e7a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/9209b5b7-a57b-4ad9-95f7-0d52e267e7a7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/a10fb5b4-2201-4c3b-ba84-ac8c5ba5f401.html" target="element"> 1.2 Motta pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b5263a1-ed72-4226-aeaa-7ad31731ba05.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b5263a1-ed72-4226-aeaa-7ad31731ba05.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/a10fb5b4-2201-4c3b-ba84-ac8c5ba5f401.html" target="element"> 1.2 Motta pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/05c17550-a4c1-43d4-aac9-d71b3d309c13.html" target="element"> Rekvisisjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e45f4dc4-50f8-48b8-9f15-3a959e044b71.html" target="element">  </a> </td>
																		<td> <a href="../elements/e45f4dc4-50f8-48b8-9f15-3a959e044b71.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/18679b39-ea32-456f-b099-c2e0766a028c.html" target="element"> 1.4 Tildel kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element">  </a> </td>
																		<td> <a href="../elements/acd11195-5003-49ad-a627-9a6af353f808.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f205675d-a041-42eb-bab2-c7e2759deee7.html" target="element">  </a> </td>
																		<td> <a href="../elements/f205675d-a041-42eb-bab2-c7e2759deee7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac86666c-7130-4444-b691-a065f5cb97eb.html" target="element"> Etterbestilling </a> </td>
																		<td> <a href="../elements/ac86666c-7130-4444-b691-a065f5cb97eb.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/e423ed07-b41a-49b2-a55c-701e7295d63e.html" target="element"> 1.3 Prosesser pr&#248;vemateriale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/642acc70-555d-4c14-84eb-d48d41f8ea6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/642acc70-555d-4c14-84eb-d48d41f8ea6c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/fdc71c5f-62d0-45aa-9b8d-01f3f3b41aa0.html" target="element"> Kasusvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/61d1c3e1-8134-4122-8781-a9b5722212f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/61d1c3e1-8134-4122-8781-a9b5722212f7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																		<td> <a href="../elements/c6d1f8a2-55c1-4fa7-aa07-de50fd9d46d6.html" target="element"> 1.6 Send svarrapport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c7faaecf-0361-4e32-9fb4-5b265861afc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7faaecf-0361-4e32-9fb4-5b265861afc7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/63862c29-c927-4a20-b595-c51112b6effc.html" target="element"> Behov for patologi-unders&#248;kelse </a> </td>
																		<td> <a href="../elements/79ed9156-a7ac-415f-a9fc-6504e1b4218f.html" target="element"> 1.1 Rekvirer patologi-unders&#248;kelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1d3afcb8-b3b7-48fc-893a-e36814a17f13.html" target="element">  </a> </td>
																		<td> <a href="../elements/1d3afcb8-b3b7-48fc-893a-e36814a17f13.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/18679b39-ea32-456f-b099-c2e0766a028c.html" target="element"> 1.4 Tildel kasus </a> </td>
																		<td> <a href="../elements/1a46bb70-628b-49e8-bd19-6fbc678af5e1.html" target="element"> 1.5 Vurder kasus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eccb6b64-fade-49af-a148-3d7089640eba.html" target="element">  </a> </td>
																		<td> <a href="../elements/eccb6b64-fade-49af-a148-3d7089640eba.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/18679b39-ea32-456f-b099-c2e0766a028c.html" target="element"> 1.4 Tildel kasus </a> </td>
																		<td> <a href="../elements/c6ba4d57-c186-4b00-9d49-218e2c8ba099.html" target="element"> Kasus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bba58616-11c9-4122-91d1-c9f8bc4155ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/bba58616-11c9-4122-91d1-c9f8bc4155ec.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/6c1864a6-cd96-4e99-8b81-a856e8b9cb0c.html" target="element"> 1.7 Motta svarrapport </a> </td>
																		<td> <a href="../elements/4e102bc0-b5a8-440e-8d84-ea09930b133c.html" target="element"> Pr&#248;vesvar mottatt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eb055e5d-a405-4447-a73f-3930cae2a23a.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb055e5d-a405-4447-a73f-3930cae2a23a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6c1864a6-cd96-4e99-8b81-a856e8b9cb0c.html" target="element"> 1.7 Motta svarrapport </a> </td>
																		<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9ef257f7-d818-4dc9-b4c0-6de4dc3d3492.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ef257f7-d818-4dc9-b4c0-6de4dc3d3492.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6d1f8a2-55c1-4fa7-aa07-de50fd9d46d6.html" target="element"> 1.6 Send svarrapport </a> </td>
																		<td> <a href="../elements/27af5f62-9f42-4a5d-8c4f-f103d485af76.html" target="element"> Svarrarapport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/60dafcf8-d355-4a5d-9816-2f54549138c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/60dafcf8-d355-4a5d-9816-2f54549138c2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c6d1f8a2-55c1-4fa7-aa07-de50fd9d46d6.html" target="element"> 1.6 Send svarrapport </a> </td>
																		<td> <a href="../elements/6c1864a6-cd96-4e99-8b81-a856e8b9cb0c.html" target="element"> 1.7 Motta svarrapport </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>